<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RemindSME.Desktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="Configuration" value="DEBUG" />
        <add key="ServerUrl" value="http://localhost:5000" />
        <add key="UpdateUrl" value="" />
    </appSettings>
    <userSettings>
        <RemindSME.Desktop.Properties.Settings>
            <setting name="NextHibernationTime" serializeAs="String">
                <value>1970-01-01</value>
            </setting>
            <setting name="HeatingOptIn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HibernationOptIn" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DefaultHibernationTime" serializeAs="String">
                <value>18:15:00</value>
            </setting>
            <setting name="DisplaySettingExplanations" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Pseudonym" serializeAs="String">
                <value />
            </setting>
            <setting name="CompanyId" serializeAs="String">
                <value>0</value>
            </setting>
        </RemindSME.Desktop.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro.Platform" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Caliburn.Micro.Platform.Core" publicKeyToken="8e5891231f2ed21f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>