<?xml version="1.0" encoding="utf-8"?>

<packages>
  <package id="Autofac" version="4.2.0" targetFramework="net461" />
  <package id="Bogus" version="22.1.4" targetFramework="net461" />
  <package id="Caliburn.Micro" version="3.2.0" targetFramework="net461" />
  <package id="Caliburn.Micro.AutofacBootstrap" version="3.0.1.17" targetFramework="net461" />
  <package id="Caliburn.Micro.Core" version="3.2.0" targetFramework="net461" />
  <package id="Custom.Windows" version="1.1.0.1" targetFramework="net461" />
  <package id="DeltaCompressionDotNet" version="1.1.0" targetFramework="net461" />
  <package id="EngineIoClientDotNet" version="1.0.6" targetFramework="net461" />
  <package id="Flurl" version="2.7.1" targetFramework="net461" />
  <package id="Flurl.Http" version="2.3.2" targetFramework="net461" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.8" targetFramework="net461" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="3.0.61" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net461" />
  <package id="Mono.Cecil" version="0.9.6.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net461" />
  <package id="Notifications.Wpf" version="0.1.1" targetFramework="net461" />
  <package id="NuGet.CommandLine" version="4.6.2" targetFramework="net461" developmentDependency="true" />
  <package id="SharpCompress" version="0.17.1" targetFramework="net461" />
  <package id="SocketIoClientDotNet" version="1.0.6" targetFramework="net461" />
  <package id="Splat" version="1.6.2" targetFramework="net461" />
  <package id="Squirrel.Windows" version="1.8.0" targetFramework="net461" />
  <package id="SuperSocket.ClientEngine.Core" version="0.10.0" targetFramework="net461" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net461" />
  <package id="System.Collections.Specialized" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.NameResolution" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Security" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Sockets" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.Extensions" version="4.3.0" targetFramework="net461" />
  <package id="System.Runtime.InteropServices" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Text.RegularExpressions" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading" version="4.3.0" targetFramework="net461" />
  <package id="System.Threading.Timer" version="4.3.0" targetFramework="net461" />
  <package id="WebSocket4Net" version="0.15.2" targetFramework="net461" />
</packages>